<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <!-- <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script> -->
    <py-env>
      flask
    </py-env>
    <title>Python Timeline Generator</title>
</head>
<body>

  <nav class="flex items-center justify-between flex-wrap bg-blue-400 p-6">
    <div class="flex items-center flex-shrink-0 text-white mr-6">
      <!-- <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg> -->
      <!-- <i class='fab fa-python' style='font-size:36px'></i> -->
      <span class="font-semibold text-xl tracking-tight">PyTimeline-Generator</span>
    </div>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-blue-400 border-blue-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="text-sm lg:flex-grow">
        <a href="/" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
          Home
        </a>
        <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white mr-4">
          About Us
        </a>
        <a href="#" class="block mt-4 lg:inline-block lg:mt-0 text-blue-200 hover:text-white">
          Contact Us
        </a>
      </div>
      <div>
        <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-blue-400 hover:bg-white mt-4 lg:mt-0">Download</a>
      </div>
    </div>
  </nav>
    <div class="bg-gray-100 shadow px-8 pt-6 pb-8 mb-4 flex flex-col">
      <!-- *************************************************************************************************** -->
        <div class="mb-4">
            <form method="POST">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="keyword">
                    Keyword
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="keyword" name="keyword" type="text" placeholder="Enter keyword">
                <p><br></p>
                <label class="block text-grey-darker text-sm font-bold mb-2" for="timeframe">
                    Time Window
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="timeframe" name="timeframe" type="text"  placeholder="Enter time window">
                <p><br></p>
                <div class="mb-2">
                <button class="bg-transparent hover:bg-blue-400 text-blue-400 font-semibold hover:text-white py-1 px-3 border border-blue-400 hover:border-transparent rounded" type="button">
                  <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"><input type="submit" ></a>
                </button>
                </div>
                <br>
                <div class="mb-2">
                  <button class="bg-transparent hover:bg-blue-400 text-blue-400 font-semibold hover:text-white py-1 px-3 border border-blue-400 hover:border-transparent rounded" type="button">
                    <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="/timeline">Generate Timeline</a>
                  </button>
                </div>
            </form>
        </div>
      <!-- **************************************************************************************************** -->
          <!-- <div class="mb-4">
            <form method="POST">
              <label class="block text-grey-darker text-sm font-bold mb-2" for="timeframe">
                Time Window
              </label>
              <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker" id="timeframe" name="timeframe" type="text"  placeholder="Enter time window">
            </form>
          </div> -->
      <!-- ******************************************************************************************************** -->
            <!-- <div class="mb-6">
              <form method="POST">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="location">
                  Location
                </label>
                <input class="shadow appearance-none border border-red rounded w-full py-2 px-3 text-grey-darker mb-3" id="location" name ="location" type="text" placeholder="Enter location">
              </form>
            </div> -->
      <!-- ********************************************************************************************************** -->
            <!-- <div class="flex items-center justify-between">
              <button class="bg-transparent hover:bg-blue-400 text-blue-400 font-semibold hover:text-white py-1 px-3 border border-blue-400 hover:border-transparent rounded" type="button">
                <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker"><input type="submit" ></a>
              </button>
              <a class="inline-block align-baseline font-bold text-sm text-blue hover:text-blue-darker" href="#">
                Can't think of a keyword?
              </a>
            </div> -->
      <!-- ********************************************************************************************************** -->
    </div>
    <!-- <footer class="bg-blue-400 text-center lg:text-left">
      <div class="text-gray-800 text-center p-4">
        © 2022 Copyright:
        <a class="text-gray-800" href="#">PyTimeline-Generator</a>
      </div>
    </footer> -->
</body>
</html>