<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <link rel="stylesheet" href="./../static/timeline.css">
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        window.onload = function() {
            document.getElementById('date-year').innerHTML="20th May 2019";
        }
    </script>
    <py-env>
        - beautifulsoup4
        - requests
        - flask
        - paths:
          - ./test_2.py
          <!-- - C:\Users\HP\Desktop\Python_AI\Timeline_Generator\information -->
      </py-env>
    <title>Timeline</title>
</head>
<body>
    <div class="container">
        <div class="timeline">
            <ul>
                <li>
                    <div class="timeline-content">
                        {%if date_1%}
                        <h2 class="date">{{date_1}}</h2>
                        {% endif %}
                        {%if title_1%}
                        <h1>{{title_1}}</h1>
                        {% endif %}
                        {% if desc_1 %}
                        <p>
                            {{desc_1}}
                        </p>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        {%if date_2%}
                        <h2 class="date">{{date_2}}</h2>
                        {% endif %}
                        {%if title_2%}
                        <h1>{{title_2}}</h1>
                        {% endif %}
                        {% if desc_2 %}
                        <p>
                            {{desc_2}}
                        </p>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        {%if date_3%}
                        <h2 class="date">{{date_3}}</h2>
                        {% endif %}
                        {%if title_3%}
                        <h1>{{title_3}}</h1>
                        {% endif %}
                        {% if desc_3 %}
                        <p>
                            {{desc_3}}
                        </p>
                        {% endif %}
                    </div>
                </li>
                <li>
                    <div class="timeline-content">
                        {%if date_4 %}
                        <h2 class="date">{{date_4}}</h2>
                        {% endif %}
                        {%if title_4%}
                        <h1>{{title_4}}</h1>
                        {% endif %}
                        {% if desc_4 %}
                        <p>
                            {{desc_4}}
                        </p>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
    
</body>
</html>