<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pyscript.net/alpha/pyscript.css" />
    <link rel="stylesheet" href="./../static/timeline.css">
    <script defer src="https://pyscript.net/alpha/pyscript.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Timeline</title>
</head>
<body>
    <div class="container">
        <div class="timeline">
            <ul>
                {%for i in range(0, num): %}
                <li>
                    <div class="timeline-content">
                        {%if date_[i]%}
                        <h2 class="date">{{date_[i]}}</h2>
                        {% endif %}
                        {%if title_[i]%}
                        <h2>{{title_[i]}}</h2>
                        {% endif %}
                        {% if desc_[i] %}
                        <p>
                            {{desc_[i]}}
                        </p>
                        {% endif %}
                        {% if casualty_injured_[i] %}
                        <h3>
                            {{casualty_injured_[i]}}
                        </h3>
                        {% endif %}
                        {% if severity_[i] %}
                        <h3>
                            Predicted Severity: {{severity_[i]}}
                        </h3>
                        {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    
</body>
</html>